<table class="table table-striped table-responsive-md">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Total</th>
            <th scope="col">Customer</th>
            <th scope="col">Seeting</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders; index as i">
            <th scope="row" [ngClass]="order.state == 'Original' ? 'b-safed': 'b-not-safed'">{{ i+1 }}</th>
            <td>
                {{ order?.createdAt | date:'dd/MM/yyyy'}}
            </td>
            <td>{{ order?.total }}</td>
            <td>{{ order?.customer?.name }}</td>
            <td>
                <button type="button" class="btn btn-danger ms-3 me-3"
                    (click)="deleteOrder(order)">Delete</button>
             </td>
        </tr>
    </tbody>
</table>