/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.nav-item{
    cursor: pointer !important;
}
.b-safed{
    border-left: 5px solid #198754;
}

.b-not-safed{
    border-left: 5px solid #dc3545;
}