
div{
    position: absolute;
    left: 65%;
    width: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff6b35;
    text-align: left;
    color: beige;
    text-align: center;
    }
  

